@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600;6..12,800&display=swap");

:root {
  /* dark mode */
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  /* light mode */
  --veryDarkBlueLight: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 0%, 100%);
}

html,
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--veryLightGray);
  color: var(--darkBlue);
}
body.dark-mode {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

.app {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 10%;

  transition: all ease-in-out 0.15s;
}

nav.bright-mode {
  background-color: var(--white);
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  color: var(--darkBlue);
}
nav.dark-mode {
  background-color: var(--darkBlue);
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
}

.home-section {
  width: 80%;
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.search-bar input {
  border: none;
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

input.bright-mode {
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  color: var(--darkBlue);
}
input.bright-mode::placeholder {
  color: var(--darkBlue);
}
input.dark-mode {
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  background-color: var(--darkBlue);
  color: var(--white);
}

input.dark-mode::placeholder {
  color: var(--white);
}

.drop-down-header {
  border: none;
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  width: 10%;
  user-select: none;
}

.drop-down-header.bright-mode {
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  color: var(--darkBlue);
}

.drop-down-header.dark-mode {
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  background-color: var(--darkBlue);
  color: var(--white);
}

.drop-down-menu {
  border: none;
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  user-select: none;
  width: 10%;
  list-style: none;

  position: absolute;
  right: 0;
  top: 55px;
}

.drop-down-menu.bright-mode {
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  color: var(--darkBlue);
}
.drop-down-menu.bright-mode {
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  background-color: var(--darkBlue);
  color: var(--white);
}

.drop-down-menu li {
  padding: 1rem;
  width: 100%;
  margin-left: -1rem;
  border: none;
  border-radius: 0.8rem;
  transition: all ease-in-out 0.15s;
}
.drop-down-menu.dark-mode li:hover {
  background-color: var(--darkBlue);
  color: var(--white);
}
.drop-down-menu.bright-mode li:hover {
  background-color: var(--white);
  color: var(--darkBlue);
}
.drop-down-menu.dark-mode .selected {
  background-color: var(--darkBlue);
  color: var(--white);
}

.drop-down-menu.bright-mode .selected {
  background-color: var(--white);
  color: var(--darkBlue);
}

.hidden {
  display: none;
}

.countries-container {
  width: 100%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.country-box {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  border-radius: 0.8rem;
  margin-bottom: 30px;

  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

.country-box:hover {
  box-shadow: 0px 12px 0px 5px var(--darkGray);
}

.country-box img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.country-box.bright-mode img {
  box-shadow: 0px 12px 28px -20px var(--darkGray);
}
.country-box.dark-mode img {
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
}

.country-box.bright-mode {
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  background-color: var(--white);
  color: var(--darkBlue);
}
.country-box.dark-mode {
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  background-color: var(--darkBlue);
  color: var(--white);
}

.country-box-detail {
  width: 80%;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-country-section {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.detail-country-section img {
  width: 50%;
}

.detail-country-section button {
  align-self: flex-start;
}

.details-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;

  padding-left: 10%;
}
.details p {
  font-size: 1.6rem;
  font-weight: bold;
}
.details ul {
  list-style: none;
}

.borders-container {
  display: flex;
  flex-wrap: wrap;
}

.country-borders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
}
.border {
  width: 10%;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-right: 1%;
  margin-bottom: 1%;
}
.border.bright-mode {
  background-color: var(--white);
  box-shadow: 0px 12px 28px -20px var(--darkBlue);
}
.border.dark-mode {
  background-color: var(--darkBlue);
  box-shadow: 0px 12px 28px -20px var(--veryLightGray);
}

.no-countries-container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 3%;
}

.dark-mode-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
}

.dark-mode-button.bright-mode {
  color: var(--darkBlue);
}
.dark-mode-button.dark-mode {
  color: var(--white);
}

.go-back-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.go-back-button.bright-mode {
  background-color: var(--white);
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  color: var(--darkBlue);
}
.go-back-button.dark-mode {
  background-color: var(--darkBlue);
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
  color: var(--white);
}
.no-countries {
  margin-bottom: 10%;
}
@media (max-width: 1368px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 968px) {
  .countries-container {
    margin-top: 4%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .details-container {
    flex-direction: column;
  }
  .details-container img {
    width: 100%;
  }
  .details {
    margin-top: 10%;
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  .country-borders {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2%;
  }
  .border {
    margin-bottom: 3%;
    margin-right: 3%;
  }
}

@media (max-width: 668px) {
  .search-bar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 2%;
  }

  .countries-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
