nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 10%;

  transition: all ease-in-out 0.15s;
}

nav.bright-mode {
  background-color: var(--white);
  box-shadow: 0px 12px 28px -20px var(--darkGray);
  color: var(--darkBlue);
}
nav.dark-mode {
  background-color: var(--darkBlue);
  box-shadow: 0px 12px 28px -20px var(--veryDarkBlueLight);
}

/* dark mode button */
.dark-mode-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
}

.dark-mode-button.bright-mode {
  color: var(--darkBlue);
}
.dark-mode-button.dark-mode {
  color: var(--white);
}
